RewriteEngine on
AddType text/css .css 
RewriteCond $1 !^(index\.php|resources|robots\.txt|images|css|js|png|jpg|icon|javascript)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?$1 [L]




